/** Stylus Styles */

// Available variables https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_variables.styl

@import '~vuetify/src/stylus/settings/_variables'

$grid-gutter = 0
$grid-gutter-mobile = 0

@import '~vuetify/src/stylus/main'